@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}


:root {
    --primary_color: #fff;
    --secondary_color: #000000;
    --tertiary_color: #f9a144;
    --var_tertiary_color: #f9a1449f;
    --text_color: #cdcdcd;
    ---span: #646464;
    --Bg_gray: #0c0c0c;
    --main_color: #662374;
    --gold_color: gold;

    --boxbd-color: #33323290;

    --text-color: #6a6969;
    --text-hd-color: #e6e3e3;
    --P_font-size: 1em;
    --P_font-weight: 300;

    --h3_font-size: 1em;
    --h3_font-weight: 700;

    --h2_font-size: 2.4em;
    --h2_font-weight: 700;

    --h1_font-size: 3em;
    --h1_font-weight: 700;



    /**
   * colors
   */

    --safety-orange: #150e1f;
    --lavender-gray: hsl(230, 19%, 81%);
    --persian-rose: #61CE70;
    --main_color: #662374;
    --eerie-black: hsl(240, 6%, 10%);
    --light-gray: hsl(0, 0%, 80%);
    --cultured-2: hsl(210, 60%, 98%);
    --platinum: hsl(0, 0%, 90%);
    --gray-web: hsl(220, 5%, 49%);
    --cultured: hsl(0, 0%, 93%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 14%, 98%);
    --black: hsl(0, 0%, 0%);

    /**
    * gradient color
    */

    --gradient: linear-gradient(to left top, var(--persian-rose), var(--safety-orange));

    /**
    * typography
    */

    --ff-roboto: 'Roboto', sans-serif;
    --ff-league-spartan: 'League Spartan', sans-serif;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.1rem;
    --fs-4: 1.7rem;
    --fs-5: 1.4rem;
    --fs-6: 1.3rem;

    --fw-700: 700;
    --fw-500: 500;

    /**
    * spacing
    */

    --section-padding: 60px;

    /**
    * shadow
    */

    --shadow-1: 0 6px 24px var(--black_5);
    --shadow-2: 0 2px 28px var(--black_10);

    /**
    * border radius
    */

    --radius-2: 2px;
    --radius-5: 5px;
    --radius-8: 8px;

    /**
    * transition
    */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
    cursor: crosshair;
}

a {}

.cursor {
    z-index: 9999;
    border: 2px solid var(--primary_color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
}

.cursor::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--primary_color);
    border-radius: 50%;
}


@keyframes waveHover {
    0% {
        box-shadow: 0 0 5px rgba(249, 161, 68, 0.7), 0 0 8px rgba(249, 161, 68, 0.7);
    }

    25% {
        box-shadow: 0 0 0 4px rgba(249, 161, 68, 0.4), 0 0 0 12px rgba(249, 161, 68, 0.4);
    }

    50% {
        box-shadow: 0 0 0 3px rgba(249, 161, 68, 0.2), 0 0 0 8px rgba(249, 161, 68, 0.2);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(249, 161, 68, 0), 0 0 0 15px rgba(249, 161, 68, 0);
    }
}


.loader {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    height: 100vh;
    background-color: var(--secondary_color);
    display: none;
    align-items: center;
    justify-content: center;

}

.dis {
    animation-name: loaderFadeOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes loaderFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


svg {
    width: 100%;
    font-weight: 900;
    position: absolute;
}

svg text {
    font-size: 8em;
    stroke-width: 4;
    letter-spacing: 2px;
    width: 100%;
}

svg .text_body {
    stroke: var(--tertiary_color);
    animation: 7s 1 alternate animate_stroke;
}

@keyframes animate_stroke {

    0% {
        fill: transparent;
        stroke: var(--tertiary_color);
        stroke-width: 4;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 26%;
    }

    40%,
    50%,
    60% {
        fill: transparent;
        stroke: var(--tertiary_color);
        stroke-width: 4;
    }

    90%,
    100% {
        fill: var(--tertiary_color);
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 26% 0;
    }
}




.section_one {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0;
}

.header_sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    margin: 0 auto;
    position: relative;
    border-bottom: 0px solid var(--tertiary_color);
    /* Ensure the parent container is positioned */
}

header.shadow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Bg_gray);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0%;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
    animation: 1s NavHidden;
}

header.shadow .header_sub {
    padding: 1rem 15%;
}

@keyframes NavHidden {
    0% {
        transform: translate(0, -150%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.header_sub::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: 7px;
    right: 0;
    background-color: var(--tertiary_color);
    transition: 1s;
}

.header_sub:hover:after {
    width: 0%;
}

.header_sub::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: 1px;
    right: 0;
    background-color: var(--tertiary_color);
    transition: 1s;
}

.header_sub:hover:before {
    width: 100%;
}

.logo a img {
    width: 40px;
    height: auto;
    object-fit: scale-down;
}

.nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav ul li {
    margin-right: 40px;
    list-style: none;
}

.nav ul li a {
    font-size: .75em;
    color: var(--tertiary_color);
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
}

.nav ul li a::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--tertiary_color);
    transition: 1s;
}




.nav ul li a:hover:after {
    width: 100%;
}



.bar {
    width: 30px;
    height: 18px;
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    position: relative;
    right: 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-right: 5px;
    margin-top: -4px;

}

.bar.roller {
    transform: rotate(90deg);
}

.bar_sub {
    width: 100%;
    height: 2.5px;
    background-color: var(--tertiary_color);
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

.bar .bar_sub:nth-child(2) {
    width: 70%;
    height: 2.5px;
}

.bar.active .bar_sub:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.bar.active .bar_sub:nth-child(2) {
    opacity: 0;
}

.bar.active .bar_sub:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -5px);
    width: 100%;
}

.bar .bar_sub:nth-child(3) {
    width: 40%;
}






.link_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign_in a {
    padding: 10px 15px;
    background-color: var(--boxbd-color);
    color: var(--primary_color);
    border-radius: 5px;
    border: 1px;
    font-size: .8em;
}

.trial a {
    padding: 10px 15px;
    background-color: var(--tertiary_color);
    color: var(--primary_color);
    border-radius: 5px;
    font-size: .8em;
    margin-left: 8px;
}

.section_one_sub {
    background: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 5rem 5% 0;
}

.faded_box {
    width: 600px;
    height: 600px;
    opacity: .2;
    position: absolute;
    left: -5rem;
    top: -5rem;
    background: radial-gradient(circle, rgba(249, 161, 68, 0.892) 0%, rgba(249, 161, 68, 0) 80%);
}

.section_one_sub_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 4em;
    padding-bottom: 4rem;
    z-index: 1;
}

.text_img {
    position: absolute;
    width: 300px;
    right: 0;
    opacity: .4;
    filter: invert(15%) sepia(8%) saturate(400%) hue-rotate(330deg) brightness(70%) contrast(95%);
}

.content_one_sub_container_text {
    width: 100%;
    height: 100%;
}


.content_one_sub_container_text h1 {
    font-size: 3.8em;
    width: 100%;
    max-width: 100%;

    color: var(--primary_color);
    font-weight: 500;
}

.content_one_sub_container_text h1 span {
    color: var(--tertiary_color);
    position: relative;
}

.content_one_sub_container_text h1 span::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    height: 100%;
    width: 2px;
    background-color: var(--tertiary_color);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}


.content_one_sub_container_text h1 span.stop_blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.content_one_sub_container_text_para {
    padding: 1.5rem 0 1.5rem 1.5rem;
    position: relative;


}

.content_one_sub_container_text_para::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--tertiary_color);
    top: 0;
    margin-left: 1.5rem;
    left: 0;
}


.content_one_sub_container_text p {
    font-size: .9em;
    color: var(--text-color);
    line-height: 1.8;
    letter-spacing: 1.2px;
    width: 100%;
    max-width: 70%;
    padding-left: 15px;
    position: relative;
}


.content_one_sub_container_text_para p::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--tertiary_color);
    top: -15px;
    left: -4px;
    z-index: 999;
    border-radius: 100px;
    box-shadow: 0 0 10px 5px rgba(249, 161, 68, 0.8);
}

.content_one_sub_container_text_para p::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--tertiary_color);
    bottom: -15px;
    left: -4px;
    z-index: 999;
    border-radius: 100px;
    box-shadow: 0 0 10px 5px rgba(249, 161, 68, 0.8);
}

.content_one_sub_container_text_link {
    display: inline-block;
}

.content_one_sub_container_text_link_btn {
    padding: 10px 35px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--tertiary_color);
    border: 1px solid var(--tertiary_color);
    font-size: 0.9em;
    position: relative;
}

.content_one_sub_container_text_link_btn span {
    position: relative;
    z-index: 100;
    display: inline-flex;
    align-items: center;
}

.content_one_sub_container_text_link_btn::after {
    content: "";
    width: 5%;
    height: 20%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    background-color: var(--primary_color);
    transition: .4s;
    margin: 20px 45px 0 0;
}

.content_one_sub_container_text_link_btn:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
}

.content_one_sub_container_text_link_btn .bx {
    color: var(--primary_color);
    font-size: 1.6em;
    padding: 5px;
    margin: 0 5px;
    border-radius: 50px;
    background-color: var(--tertiary_color);
    transform: rotate(-45deg);
}

.content_one_sub_container_text_link_btn:hover .bx {
    animation: 3s RotatingBtn;
}

@keyframes RotatingBtn {
    0% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}












/*
.section_one_sub_container_video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.section_one_sub_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_one_sub_container_sub {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100%;
    padding: 10rem 5% 0;
    position: relative;
}


.content_link {
    color: var(--tertiary_color);
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    font-size: .8em;
}


.content_link {
    position: absolute;
    top: 0px;
    left: 0%;
    padding: 4px 15px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary_color);
    animation: 2s scaling infinite;
}

.content_link .bx {
    transform: rotate(45deg);
    color: var(--primary_color);
    font-size: 1.3em;
}

.content_link .bx {
    transform: rotate(-45deg);
    color: var(--primary_color);

    padding: 5px;
    margin: 3px;
    border-radius: 50px;
    background-color: var(--tertiary_color);
}

.content_link:hover .bx {
    animation: 3s RotatingBtn;
}

.content_two_sub_container_link {
    position: relative;
}

@keyframes RotatingBtn {
    0% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        ttransform: rotate(180deg);
        ;
    }

    100% {
        transform: rotate(-45deg);
    }
}

*/

.circle_box {
    position: absolute;
    bottom: 5%;
    right: 15%;
}

.circle_texts {
    font-size: 1em;
    display: inline-block;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--tertiary_color);
    animation: 10s infinite rotate;

}

@keyframes rotate {


    100% {
        transform: rotate(360deg);
    }
}



.companies {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.companies_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 5%;
    overflow: hidden;
    background-color: var(--Bg_gray);
}

.companies_sub_container {
    overflow: hidden;
}

.companies_sub_container img {
    width: 140px;
    object-fit: scale-down;
    filter: invert(15%) sepia(8%) saturate(400%) hue-rotate(330deg) brightness(70%) contrast(95%);
    opacity: .2;
}


.section_two {
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    /* Keep these relative to avoid conflicts with the fixed cursor */
    z-index: 1;
}

.head {
    width: 100%;
    position: relative;
    padding-bottom: 2rem;
}

.head h2 {
    font-size: 2.8em;
    color: var(--primary_color);
    position: relative;
    padding: 0 0 5px;
}

.head h2 span {
    color: var(--tertiary_color);
}

.head:hover h2::after {
    width: 350px;
}

.head:hover h2::before {
    width: 200px;
}

.head h2::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: var(--tertiary_color);
    left: 0;
    bottom: 0;
    transition: .5s;
}

.head h2::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: var(--tertiary_color);
    left: 0;
    bottom: -5px;
    transition: .5s;
}

.head p {
    font-size: .9em;
    color: var(--text-color);
    line-height: 1.8;
    letter-spacing: 1.2px;
    width: 100%;
    max-width: 60%;
    padding: 20px 0 0;
    position: relative;
}


.section_two_sub {
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    position: relative;
    padding: 3rem 5% 5rem;
    background-color: var(--secondary_color);
}

.section_two_sub_container {
    display: grid;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4, 24%);
    padding-top: 5rem;
}

.section_two_sub_container_content {
    width: 100%;
    height: 100%;
    padding: 10px 1rem;
    border-radius: 4px;
    transition: .3s;
}

.section_two_sub_container_content:nth-child(odd):hover {
    top: -100px;
}

.section_two_sub_container_content:nth-child(1) {
    background: url(../img/seo.png);
    background-size: contain;
    position: relative;
    z-index: 1;
}

.section_two_sub_container_content:nth-child(even):hover {
    bottom: -40px;
}

.section_two_sub_container_content:nth-child(odd) {
    position: relative;
    top: -60px;
    transition: 1s;
    background: linear-gradient(to bottom, black 0%, black 10%, #f9a144 400%);
}

.section_two_sub_container_content:nth-child(even) {
    background-color: var(--Bg_gray);
    position: relative;
    transition: 1s;
    bottom: -10px;
}

.section_two_sub_container_content_img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: 1s;
}

.section_two_sub_container_content_img img {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
    filter: invert(78%) sepia(68%) saturate(426%) hue-rotate(348deg) brightness(98%) contrast(92%);

}

.section_two_sub_container_content h3 {
    font-size: 1.2em;
    color: var(--primary_color);
    margin-bottom: 10px;
}

.section_two_sub_container_content p {
    font-size: .9em;
    line-height: 1.4;
    color: var(--primary_color);
    letter-spacing: 1.2px;
    width: 100%;
    max-width: 100%;
    padding-left: 0px;
    position: relative;
}





.section_three {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section_three_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background-color: var(--Bg_gray);
}


.section_three_sub_container {
    background-color: rgba(0, 0, 0, 0.576);
    padding: 2rem 2rem;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-between;
    align-items: start;


}

.section_three_sub_container_text {
    padding-right: 2em;
}

.section_three_sub_container_text h2 {
    font-size: 2.8em;
    color: var(--primary_color);
    font-weight: 700;
    margin-bottom: 2rem;
}

.section_three_sub_container_text h2 span {
    color: var(--tertiary_color);
}

.section_three_sub_container_text_sub:first-child {
    margin-top: 2rem;
}

.section_three_sub_container_text_sub {
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    margin: 20px 0 30px;
}

.section_three_sub_container_text_sub .bx-check-circle {
    font-size: 3.5em;
    color: rgba(31, 186, 31, 0.827);
    font-weight: 200;
    opacity: .7;
}

.section_three_sub_container_text_sub_text {
    padding-left: 10px;
}

.section_three_sub_container_text_sub h3 {
    font-size: 1.1em;
    color: var(--primary_color);

}

.section_three_sub_container_text_sub p {
    font-size: .85em;
    color: var(--text-color);
    line-height: 22px;
    font-weight: 300;
}


.section_three_sub_container_text_sub_text .content_one_sub_container_text_link_btn {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
}

.section_three_sub_container_video {
    width: 100%;
    height: 70vh;
    background: url(../img/replace2.png);
    background-size: 100% 100%;
    opacity: .7;
}

.section_three_sub_container_video img {
    width: 100%;
    height: 100%;

}





.section_four {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section_four_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background-color: var(--secondary_color);
}


.section_four_sub_container {
    display: grid;
    padding-top: 2rem;
    gap: 10px;
    grid-template-columns: repeat(3, 32.3%);
}

.section_four_sub_container_content {
    position: relative;
    width: 100%;
    height: 70vh;
    padding: 30px 2rem;
    background: rgba(30, 30, 30, 0.8);
    /* Slight transparency for the dark background */
    border-radius: 15px;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    /* To keep the card above the glowing background */
    overflow: hidden;
}

.glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    filter: blur(50px);
    z-index: 0;
    /* Ensure it stays behind the card */
}

.section_four_sub_container_content:nth-child(1) {
    justify-content: start;
}

.section_four_sub_container_content:nth-child(1) p {
    margin-top: 4rem;
}

.section_four_sub_container_content:nth-child(1) .glow {
    background: radial-gradient(circle, rgba(249, 161, 68, 0.892) 0%, rgba(249, 161, 68, 0) 80%);
    left: -90px;
    opacity: .4;
}

.section_four_sub_container_content:nth-child(2) .glow {
    background: radial-gradient(circle, rgba(249, 161, 68, 0.892) 0%, rgba(249, 161, 68, 0) 80%);
     top: 500px;
    left: 450px;
    width: 400px;
    height: 400px;
    opacity: .4;
}

.section_four_sub_container_content:nth-child(3) .glow {
    background: radial-gradient(circle, rgba(249, 161, 68, 0.892) 0%, rgba(249, 161, 68, 0) 80%);
    top: -30px;
    left: 420px;
    width: 400px;
    height: 400px;
    opacity: .4;
}

.image-placeholder {
    width: 100%;
    height: 100%;
}


.image-placeholder img{
width: 100%;
height: 300px;
object-fit: scale-down;
}

.section_four_sub_container_content h2 {
    font-size: 1.7em;
    font-weight: 500;
}

.section_four_sub_container_content p {
    font-size: .9em;
    line-height: 1.8;
    letter-spacing: 1.2px;
}


.section_five {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section_five_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background-color: var(--Bg_gray);
}

.section_five_sub_container {}







/*  

.timeline_items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 3rem 0 2rem;
}

.timeline_items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--tertiary_color);
    left: calc(50% - 1px);
}

.timeline_item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline_item:last-child {
    margin-bottom: 0;
}

.timeline_item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline_item:nth-child(even) {
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline_dot {
    height: 21px;
    width: 21px;
    background-color: var(--tertiary_color);
    box-shadow: 0 0 25px var(--tertiary_color),
        0 0 50px var(--tertiary_color);
    position: absolute;
    left: calc(50% - 9.5px);
    border-radius: 50%;
    top: 10px;
}

.timeline_date {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--primary_color);
    margin: 6px 0 15px;
}

.timeline_content {
    background-color: var(--secondary_color);
    border: 3px solid var(--tertiary_color);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--tertiary_color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.timeline_content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--tertiary_color);
}

.timeline_content h2 {
    font-size: 1.2em;
    color: var(--primary_color);
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline_content p {
    font-size: .85em;
    color: var(--primary_color);
    line-height: 22px;
    font-weight: 300;
}
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary_color);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--Bg_gray);
    width: 30px;
}















@media (max-width: 980px) {

    .nav {
        width: 100%;
        height: 0%;
        position: fixed;
        right: 0;
        bottom: 0;
        background-color: var(--tertiary_color);
        z-index: 0;
        transition: .2s;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .nav.navigation {
        height: 86vh;
    }

    .nav ul {
        display: none;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav.navigation ul {
        display: flex;
    }

    .nav.navigation .link_two {
        display: flex;
    }

    .nav ul li {
        margin: 15px 0;
        margin-right: 0;
    }

    .nav ul li a {
        color: var(--primary_color);
    }

    .nav ul li a::after {
        content: "";
        width: 50%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: var(--secondary_color);
        transition: 1s;
    }

    .bar {
        display: flex;
    }

    .link_two {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .sign_in {
        margin: 20px 0;
    }

    .trial a {
        background-color: var(--secondary_color);
    }

    .content_one_sub_container_text h1 {
        font-size: 3em;
    }
    

    .content_one_sub_container_text p {
        font-size: .9em;
        max-width: 95%;

    }

    .section_two_sub_container {
        grid-template-columns: 50% 50%;
    }
   



    .section_two_sub_container_content:nth-child(3) {
        top: 30px;
    }

     
    .section_two_sub_container_content:nth-child(3):hover {
        top: -30px;
    }
    
    .section_two_sub_container_content:nth-child(even) {
        background-color: var(--Bg_gray);
        position: relative;
        transition: 1s;
        bottom: -10px;
    }

    .section_one_sub_container_text p {
        max-width: 85%;
    }


    .section_three_sub_container {
        grid-template-columns: 100%;

        gap: 30px;
    }

    .section_three_sub_container_video {
        width: 100%;
        height: 60vh;
        background: url(../img/replace2.png);
        background-size: 100% 100%;
    }

    .section_four_sub_container {
      grid-template-columns: 50% 50%;
    }
    
    .footer_sub_container1 {

        grid-template-columns: 50% 50%;
    }

}




@media (max-width: 780px) {

    .content_one_sub_container_text h1 {
        font-size: 2em;
        font-weight: 700;
    }
    
   

    .section_one_sub_container_text p {
        max-width: 100%;
    }

    .section_three_sub_container_text h2 {
        font-size: 2.3em;
    }


    .footer_sub_container1 {
        grid-template-columns: 100%;
    }

    .footer_sub_container2 {
        grid-template-columns: 50% 50%;
    }


}


@media (max-width: 580px) {
    .section_two_sub_container {
        grid-template-columns: 100%;
        gap: 30px;
    }

    
 

     
    .section_two_sub_container_content:nth-child(odd):hover {
        top: -10px;
    }
    
    .section_two_sub_container_content:nth-child(even) {
        background-color: var(--Bg_gray);
        position: relative;
        transition: 1s;
        bottom: -10px;
    }

    .section_three_sub_container_text h2 {
        font-size: 2em;
    }

    .section_four_sub_container {
        grid-template-columns: 100%;
      }
}